@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
:root {
  --main-color: #202124;
  --text-color: #e8eaed;
  --box-shadow: 0 .5rem 1rem rgba(0,0,0,.3)
;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  background: var(--main-color);
}

section {
  padding: 15rem 7%;
}

.btn {
  margin-top: 1rem;
  width: 11.1rem;
  color: var(--text-color);
  cursor: pointer;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: .5rem;
}

.btn ion-icon {
  margin-left: .5rem;
}

.btn:hover {
  text-decoration: underline;
}

/* Barra de navegación */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 7%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--main-color);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

header .logo {
  font-size: 3rem;
  color: var(--text-color);
  text-transform: uppercase;
  border: 0.1rem solid var(--text-color);
  padding: .3rem;
}

header .menu a {
  color: var(--text-color);
  margin-right: 4rem;
  font-size: 1.7rem;
  padding-bottom: .5rem;
}

header .menu a:hover {
  border-bottom: 0.2rem solid var(--text-color);
}

header .icons {
  display: none;
}

header .icons .btn-menu {
  display: none;
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}

header .icons .close-menu {
  display: none;
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}

/* Sección Home */
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.home .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  width: 100%;
  margin: auto;
  color: var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 2rem;
}

.home .content h2 {
  font-size: 5rem;
  margin-bottom: 4rem;
}

.home .content p {
  font-size: 2.5rem;
  color: #888;
  margin-bottom: 2rem;
}

.home .content-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .content-image img {
  width: 100%;
}

.home .content-image .container {
  background: var(--main-color);
  color: var(--text-color);
  position: absolute;
  bottom: -10rem;
  right: 15rem;
  padding: 3rem 4rem;
  max-width: 40rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.home .content-image .container .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.home .content-image .container .user img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.home .content-image .container .user .user-info {
  font-size: 2rem;
}

.home .content-image .container .user .user-info h4 {
  margin-bottom: .5rem;
}

.home .content-image .container .user .user-info span {
  color: #888;
}

.home .content-image .container .info {
  font-size: 2rem;
}

footer {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

footer h4 {
  font-size: 1.7rem;
  color: #888;
}

footer h4 span {
  text-decoration: underline;
  color: var(--text-color);
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
  header {
    padding: 1.5rem 3%;
  }
  .home .content-image .container {
    bottom: 10rem;
  }
}

@media (max-width: 768px) {
  header .menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--main-color);
    text-align: center;
  }
  header .menu a {
    font-size: 4rem;
    margin: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .menu a:hover {
    border: none;
    text-decoration: underline;
  }
  header .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .icons .btn-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--text-color);
    font-size: 5rem;
  }
  header .icons .close-menu {
    display: none;
    color: var(--text-color);
    font-size: 5rem;
  }
  header .icons .close-menu.active-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .icons .btn-menu.disable-btn-menu {
    display: none;
  }
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .content {
    text-align: center;
  }
  .home .content-image {
    background: chartreuse;
  }
  .home .content-image .container {
    bottom: -35rem;
    right: 15rem;
    padding: 1.5 3rem;
  }
  .btn {
    margin: auto;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .content-image .container {
    bottom: -30rem;
    right: 5rem;
  }
}
/*# sourceMappingURL=style.css.map */